
#otsikko {
    text-align: center;
    color: black;
}

.nav-tabs {
    background-color: lightgray;
    border: solid;
    border-width: 1px;
    border-color: black;
}
.nav-tabs a {
    color:black;
}

.component {
    margin-left: 3px;
    margin-right: 3px;
}
